/* 
*   Kevin Powell
*   https://youtu.be/cCAtD_BAHNw 
*/

:where(*, *::before, *::after) {
	box-sizing: border-box;
}

:where(*) {
	margin: 0;
	padding: 0;
	font: inherit; /* Get rid of all font sizes and heights */
}

:where(html) {
	hanging-punctuation: first last; /* Not supported in Chrome */
}

:where(body) {
	/*
  Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering
  */
	line-height: calc(1em + 0.5rem);
	-webkit-font-smoothing: antialiased;
	smoothing: antialiased;

	/* Fix for Safari's bug in 100vh */
	@supports (min-height: 100dvh) {
		min-height: 100dvh;
	}

	@supports not (min-height: 100dvh) {
		min-height: 100vh;
	}
}

/* Media responsive */
:where(img, picture, svg, video) {
	display: block;
	max-width: 100%;
}

:where(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
}

:where(p) {
	max-width: 75ch;
	text-wrap: pretty; /* Prevents orphans on lines */
}

::selection {
	background-color: var(--color-primary-500);
	color: var(--color-surface-100);
}

/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

/* https://medium.com/dev-channel/what-does-dark-modes-supported-color-schemes-actually-do-69c2eacdfa1d */
:where(input, input:matches([type='password'], [type='search'])) {
	-webkit-appearance: textfield;
	background-color: -apple-system-control-background;
	color: text;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}
