button {
	svg,
	span {
		// opacity: 0;
		animation: spinScalePopShow 250ms cubic-bezier(0.165, 0.84, 0.44, 1) delay
			250ms forwards;
	}
}

@keyframes spinScalePopShow {
	0% {
		transform: scale(0.5) rotate(-30deg);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
