button {
	svg,
	span {
		// opacity: 0;
		animation: spinScalePopShow 250ms var(--cubic-bezier)
			forwards;
	}
}

@keyframes spinScalePopShow {
	0% {
		transform: scale(0.5) rotate(-30deg);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
