.body__header {
	padding-inline: var(--body__left--width) var(--body__right--width);
	font-size: calc(var(--body__header--height) * 0.5);

	$size-button: calc(var(--body__header--height) * 0.875);
	$size-icon: calc(var(--body__header--height) * 0.595);

	:where(a, div, button) {
		transition-duration: 250ms;
		transition-property: outline background-color;
		transition-timing-function: var(--cubic-bezier);
	}

	[aria-label='Search in plataform'] {
		height: calc(var(--body__header--height) * 0.875);

		> svg,
		> button > svg {
			width: $size-icon;
			height: $size-icon;

			& ~ input {
				padding-left: calc($size-icon * 2);
				font-size: 0.875em;
			}
		}
	}

	:is(
			&__home,
			&__arrows > button,
			a[href='/settings'],
			nav[aria-labelledby='header__button--profile'] img
		) {
		width: $size-button;
		height: $size-button;
	}

	&__scheme {
		padding-inline: 0.25rem;
		height: $size-button;

		&:has(svg + svg) {
			aspect-ratio: 16/9;
		}

		&:not(:has(svg + svg)) {
			aspect-ratio: 1/1;
		}

		svg {
			width: $size-icon;
			height: $size-icon;
		}
	}
}
