.profile {
	width: clamp(25ch + 1rem, 24vw + 1rem, 35ch + 1rem);

	:where(table, caption, tbody, tfoot, thead, tr, th, td) {
		all: unset;
	}

	.info {
		margin-inline: auto;

		width: calc(100% - theme('space.4') * 2);

		tbody {
			display: grid;
			gap: theme('space.2');

			tr {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				gap: theme('space.2');
				align-items: start;


				.hr {
					flex: 1;
					border-top: 1px dashed var(--color-surface-300);
					width: 100%;
					margin-top: 1.5ex;

				}
			}

		
		}
	}
}
